body {
    background-image: url("./media/headerback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 90px;
}

#selfie1 {
    width: 40px;
    margin: 0;
}

#selfie2 {
    width: 150px;
    margin: 0;
}

.rounded {
    border-radius: 2em!important;
}

.opacity {
    opacity: 0.9 !important;
}

#about,
#portfolio,
#blog {
    margin-top: 20px!important;
}